@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

:root {
  --color-primary: #eeeeee;
  --color-secondary: #1f1f1f;
}

[data-theme=dark] {
  --color-primary: #1f1f1f;
  --color-secondary: #eeeeee;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  background: var(--color-primary);
  color: var(--color-secondary);
  font-family: 'Quicksand', Verdana, sans-serif;
  font-smooth: always;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  scroll-behavior: smooth;
  min-height: 100vh;
  width: 100vw;
}

h1,
h2,
h3 {
  font-size: clamp(2em, 4vw, 3em);
  font-weight: 800;
  margin: 0 auto;
  width: max-content;
}